# Client Environment Variables (Merchant A)
NEXT_PUBLIC_BRAINTREE_MERCHANT_ID=
NEXT_PUBLIC_BRAINTREE_OAUTH_CLIENT_ID=
NEXT_PUBLIC_BRAINTREE_ENVIRONMENT= # sandbox or production
NEXT_PUBLIC_BRAINTREE_REDIRECT_URI=

BRAINTREE_ENVIRONMENT= # sandbox or production

# Server Environment Variables (Merchant A)
BRAINTREE_OAUTH_CLIENT_ID=
BRAINTREE_OAUTH_CLIENT_SECRET=

# Server Environment Variables (Merchant B)
BRAINTREE_MERCHANT_ID=
BRAINTREE_PUBLIC_KEY=
BRAINTREE_PRIVATE_KEY=