# Client Environment Variables (Merchant A)
NEXT_PUBLIC_BRAINTREE_MERCHANT_ID=
NEXT_PUBLIC_BRAINTREE_OAUTH_CLIENT_ID=
NEXT_PUBLIC_BRAINTREE_ENVIRONMENT= # sandbox or production
NEXT_PUBLIC_BRAINTREE_REDIRECT_URI=

# Server Environment Variables (Merchant A)
BRAINTREE_OAUTH_CLIENT_ID=
BRAINTREE_OAUTH_CLIENT_SECRET=

# Server Environment Variables (Merchant B)
BRAINTREE_MERCHANT_ID=
BRAINTREE_PUBLIC_KEY=
BRAINTREE_PRIVATE_KEY=

BRAINTREE_ENVIRONMENT= # sandbox or production

# For local development only
NEXT_PUBLIC_VERCEL_ENV=development
NEXT_PUBLIC_VERCEL_PROJECT_PRODUCTION_URL=localhost:3000